#d1
{
    background-color: red;
    margin-bottom: 10px;
    height: 100px;
    width: 200px;
}

#spn
{
    background-color: green;
    /* display: inline-block; */
    /* height: 100px; */
    width: 100px;
    margin-left: 15px;
    padding-left: 20px;
    margin-top: 50px;
}